* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

img{
    width: 33%;
    height: 500px;
    filter: grayscale(100%);
}

img:hover {
    filter: grayscale(0);
}

