.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: #f8f8f8;
}

.dashboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.dashboard-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.number {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
